*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.photos  {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  overflow: hidden;
  

  
}

.photos img {
  display: flex;
  height: 250px;
  width: 250px;
  margin-top: 10px;
  border-radius: 3px;
   
}
  

h2{
  display: flex;
  justify-content: center;

}

.photos button{
  display: flex;
  margin-left: 80px;
  border: none;
  padding: 10px 20px 10px 20px;
  background-color: red;
  color: white;
  margin-top: 15px;
  cursor: pointer;
  font-size: 18rspx;
  border-radius: 3px;
  


}

.photos button {
  transition-duration: 0.4s;
}

.photos button:hover {
  background-color: rgb(92, 40, 40);
  color: white;
}

.App{
 background-color: black;
  height: 100vh;
  position: relative;
}

.head{
  color: red;
  display: flex;
  font-size: 35px;
  letter-spacing: 5px;
  position: absolute;
  transform: translateY(10px);
  margin-left: 50px;
  
  
  
  
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  text-decoration: none;
  list-style: none;
 
  

  
}

a  {
  display: flex;
  color: white;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  
 

 
 
  

}
